* {
    box-sizing: border-box;
}

body {
    background: grey;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: lightgray;
    color: black;
  }


section, header {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

.second-nav {
      position: relative;
}

@media screen and (min-width: 768px){
    .topnav a.icon {
        display: none;
    }

    .topnav {
        overflow: visible;
    }
    
    .topnav #myLinks {
        display: inline-block;
        text-decoration: none;   
    }
    .topnav a {
        border: white 1px solid;
        padding: 14px 30px;
        margin: 0 20px;
        text-decoration: none;
        font-size: 17px;
        display: inline-block;
    }
}
    

@media screen and (min-width: 1281px) {
    .topnav a {
        padding: 14px 40px;
        margin: 0 40px;
    }
}