* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Noto Sans HK', sans-serif;
    color: black;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin: 0 30px;
}

/*** Nav ***/

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: black;
    text-decoration: none;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 0px;
}

.active {
    background-color: white;
    color: black;
  }

/*** header section ***/

header {
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}

header h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 32px;
}


/*** section styling ***/ 

section, header {
    min-height: 150px;
    padding: 4% 0;
    background-color: white;

}

h2 {
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}

section p {
    font-size: 16px;
    line-height: 22px;
}

/*** about section ***/

.about img {
    border-radius: 25px;
    margin: 20px 0;
    padding: 0;
    
}

/*** work section ***/

.work h3 {
    font-size: 18px;
}
.work a {
    text-decoration: none;
    display: block;
    color: black;
    margin: 10px 0;
}

.work img {
    width: 70%;
}

/*** contact section ***/

ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
}

ul li {
    display: inline-block;
    margin: 0;
}

img {
    width: 50%;
}

/*** footer section ***/

footer {
    height: 30px;
}

/*** responsive layouts ***/ 

@media screen and (min-width: 768px){
    .topnav a.icon {
        display: none;
    }

    .topnav {
        overflow: visible;
    }
    
    .topnav #myLinks {
        display: inline-block;
        text-decoration: none;   
    }
    .topnav a {
        padding: 14px 30px;
        margin: 0 20px;
        text-decoration: none;
        font-size: 17px;
        display: inline-block;
    }

    body {
        margin: 0 40px;

    }

    .about img {
        width: 25%;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
    }

    section p {
        font-size: 20px;
        line-height: 30px;
    }

    .work h3 {
        font-size:  20px;
    }

    .work a {
        font-size: 18px;
    }

    .work img {
        margin: 20px;
    }

    .contact ul li {
        margin: 0 20px;
    }
}
    

@media screen and (min-width: 1281px) {
    .topnav a {
        padding: 14px 40px;
        margin: 0 40px;
    }

    header h1 {
        font-size: 48px;
    }

    header p {
        font-size: 32px;
    }

    body {
        margin: 0 100px;
    }

    p {
        font-size: 24px;
    }

    h2 {
        font-size: 28px;
    }

    .contact ul li {
        margin: 0 50px;
    }

    .contact img {
        width: 60%;
    }
}